# Meta
-r requirements.txt

# Sessions
nox==2022.1.7

# Formatting
black==21.12b0

# Imports
flake8~=4.0.1
isort~=5.10.1

# Typing
mypy==0.930
types-pytz==2021.3.4

# Line lengths
len8~=0.7

# Spelling
codespell~=2.1.0

# Safety
safety~=1.10.3
